<!DOCTYPE html>
<html>
<head>
    <title>Image Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#add_form").on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: 'add_point1',
                    headers: {
                        'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() // CSRF token
                    },
                    contentType: "application/json",
                    data: JSON.stringify({
                        x: $('#x').val(),
                        y: $('#y').val(),
                        z: $('#z').val(),
                    }),
                    success: function (response) {
                        const d = new Date();
                        $('#plot').attr('src', '{% url "plot1" %}' + '?t=' + d.getTime());
                    },
                    error: function () {
                        alert('Помилка при отриманні даних.');
                    }
                });
            });
        });
    </script>
</head>
<body>
<table>
    <tr>
        <td>
            <h3>Додати:</h3>
            <form id="add_form">
                {% csrf_token %}
                <label for="x">X:</label>
                <input type="text" id="x" value="5" name="x"><br><br>
                <label for="y">Y:</label>
                <input type="text" id="y" value="5" name="y"><br><br>
                <label for="z">Z:</label>
                <input type="text" id="z" value="5" name="z"><br><br>
                <button type="submit" id="calcButton">Класифікувати</button>

            </form>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <div id="plots-div">
                            <img id="plot" src="{% url 'plot1' %}"
                                 alt="plot">
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>